<h1>Constructors</h1>
<section class="constructor">
<div class="details">
      <h3>Introduction</h3>
      <p>{{examples.intro}}</p>
      <img src="img/InstancesConstructor.PNG" alt="Instances Constructor" style="display: block; margin: 0 auto;">
</div>
<div>
  <h3>Example</h3>
  <p>The original JSON is something like the following:</p>
  </div>
</section>
<script src="./js/dist/prism.js"></script>